.container {
  padding: 0 2rem;
}

.menu {
  display: flex;
  line-height: 1;
}

.dishName {
  margin-right: 5px;
}

.main {
  /* min-height: 90vh; */
  padding: 0 0 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reactiveMenu {
  background: #e0d9ba;
  padding: 2rem;
  width: 80%;
}

.controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  background: #c5bc95;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.checkboxItems {
  margin-top: 2rem;
}

.checkboxLabel {
  padding-right: 1rem;
  white-space: nowrap;
}
/* 
.controller {
  padding: 2rem;
  width: 80%;
}

.selectList {
  margin-right: 2rem;
}

.checkBox {
  margin-right: 5px;
}

.checkboxItems {
  border: orangered 1px solid;
}

.checkboxItem {
  margin-right: 5px;
}
*/

@media screen and (max-width: 600px) {
}
